label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

button {
  cursor: pointer;
}

form {
  width: 60%;
}

fa-icon {
  font-size: 8px;
  color: red;
  position: relative;
  top: -5px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.registration-form-container {
  display: flex;
  height: 640px;
  width: 500px;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 7px;
}

.welcome-message p {
  text-align: center;
}

.welcome-message a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.welcome-message a:hover {
  text-decoration: underline;
}

.user-icon img {
  height: 90px;
  width: 90px;
  position: relative;
  bottom: 45px;
  background-color: white;
}

.form-field {
  position: relative;
  align-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.form-input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 8px 0 5px 0;
  width: 100%;
}

.form-field input:focus ~ label,
.form-field input:valid ~ label {
  font-size: smaller;
  top: -12px;
}


.form-field input:focus ~ span,
.form-field input:valid ~ span {
  font-size: smaller;
  top: -12px;
}

.register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  font-size: large;
}

.register-button:hover {
  background-color: aliceblue;
}

#register-icon {
  color: black;
  font-size: 20px;
  top: 0;
  margin-right: 10px;
}

.google-button-container {
  display: flex;
}

.google-register-button {
  border-radius: 3px 0 0 3px;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  font-size: large;
  color: white;
  background-color: rgb(66, 133, 244);
}

.google-register-button:hover {
  background-color: rgb(53, 120, 231);
}

.google-register-button:hover .google-logo-box,
.google-register-button:hover ~ .google-logo-box
{
  background-color: rgb(242, 242, 242);
}

.google-logo-box {
  align-self: center;
  padding: 12px;
  border: 1px rgb(66, 133, 244) solid;
  border-radius: 0 3px 3px 0;
}

.google-button-container img {
  width: 30px;
  height: 30px;
}

